<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124222514559-dqjegadd8afcu5skj3cqjbthmgga967q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124222514559-dqjegadd8afcu5skj3cqjbthmgga967q</string>
	<key>API_KEY</key>
	<string>AIzaSyBosHKPTzIBsHEWGbKPG-Fmq4qrk0yqzc4</string>
	<key>GCM_SENDER_ID</key>
	<string>124222514559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.philosomnia.fironictodo</string>
	<key>PROJECT_ID</key>
	<string>fironic-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>fironic-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124222514559:ios:631acef5b74cad2030264a</string>
</dict>
</plist>